<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Welcome!</title>
		<link rel="stylesheet" href="static/style.css" />
	</head>
	<body>
		<h1>Coctails</h1>
		<ul>
			<% alcoholList.forEach( item =>{%>
			<li><%= item%></li>
			<%}) %>
		</ul>
		<table>
			<thead>
				<tr>
					<th colspan="2">NAME</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<% coctails.forEach( item =>{%> <%
					if(item.contains.includes(filter)){%>
					<td><h2><%= item.name%></h2></td>
					<td><%= item.contains%></td>
					<td><%= item.price%></td>
					<%} else if(filter === undefined){%>
					<td><%= item.name%></td>
					<td><%= item.contains%></td>
					<td><%= item.price%></td>
					<%}}) %>
				</tr>
			</tbody>
		</table>
	</body>
</html>
